
RayTrace/Debug/

RayTrace/.vs/RayTrace/v16/.suo

RayTrace/.vs/RayTrace/v16/Browse.VC.db

RayTrace/.vs/RayTrace/v16/Browse.VC.db-shm

RayTrace/.vs/RayTrace/v16/Browse.VC.db-wal

RayTrace/.vs/RayTrace/v16/Browse.VC.opendb

RayTrace/.vs/RayTrace/v16/ipch/AutoPCH/6f889d27eabbf244/MAIN.ipch
